@import 'tailwindcss';
/* @import '@fortawesome/fontawesome-free/css/all.css'; */
@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-dark-blue: #2c3848;
  --color-vibrant-orange: #f4b400;
  --color-very-light-muted-blue: #d1d5db;
  --color-red: #dc2626;
}
body {
  margin: 0;
}
